div.call-to-action
  include ./svgs/angle-top.pug
  include ./svgs/angle-bot.pug
  h2.call-to-action-title Like what you see?
  h3.call-to-action-subtitle I'd love to hear from you!
  p.call-to-action-content Email me at <a href="mailto:&#106;&#097;&#099;&#107;&#064;&#106;&#097;&#099;&#107;&#114;&#117;&#103;&#105;&#108;&#101;&#046;&#099;&#111;&#109;">&#106;&#097;&#099;&#107;&#064;&#106;&#097;&#099;&#107;&#114;&#117;&#103;&#105;&#108;&#101;&#046;&#099;&#111;&#109;</a>
