footer.footer
  div.footer-inner
    div.footer-image
      img.lazyload(
        data-sizes="auto"
        data-srcset=`
          ./images/avatar-256.jpg 256w,
          ./images/avatar.jpg 512w
        `
        data-src="./images/avatar.jpg"
        alt='Photo of Jack Rugile'
      )
    p.footer-description Sup, bro?
    div.footer-links
      a.footer-link(href="https://codepen.com/jackrugile") Twitter
      a.footer-link(href="https://codepen.com/jackrugile") CodePen
      a.footer-link(href="https://codepen.com/jackrugile") GitHub
      a.footer-link(href="https://codepen.com/jackrugile") LinkedIn
    p.footer-meta Made with <a href="#{data.repository}">code</a> in Denver, CO <span>//</span> &copy; Jack Rugile 2019
