footer.footer
  div.footer-inner
    img.lazyload(
      data-sizes="auto"
      data-srcset=`
        ./images/avatar-256.jpg 256w,
        ./images/avatar.jpg 512w
      `
      data-src="./images/avatar.jpg"
      alt='Photo of Jack Rugile'
    )
