header.header
  div.header-above
    include ./svgs/angle-top.pug
    include ./svgs/angle-bot.pug
    div.header-title
      include ./svgs/jack-rugile.pug
      div.header-title-text
        h1.header-title-text-top #{data.name}
        p.header-title-text-bot #{data.title}
