svg.footer-link-icon.footer-link-icon--github(
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
  focusable="false"
)
  path(d="M16.01,0.27C7.16,0.27,0,7.48,0,16.4c0,7.13,4.59,13.17,10.95,15.3 c0.8,0.16,1.09-0.35,1.09-0.77c0-0.37-0.03-1.66-0.03-2.99c-4.45,0.96-5.38-1.92-5.38-1.92c-0.72-1.87-1.78-2.35-1.78-2.35 c-1.46-0.99,0.11-0.99,0.11-0.99c1.62,0.11,2.47,1.66,2.47,1.66c1.43,2.46,3.74,1.76,4.67,1.34c0.13-1.04,0.56-1.76,1.01-2.16 c-3.55-0.37-7.29-1.76-7.29-7.96c0-1.76,0.64-3.21,1.64-4.33c-0.16-0.4-0.72-2.06,0.16-4.27c0,0,1.35-0.43,4.4,1.66 c1.31-0.35,2.65-0.53,4-0.53c1.35,0,2.73,0.19,4,0.53c3.05-2.08,4.4-1.66,4.4-1.66c0.88,2.22,0.32,3.87,0.16,4.27 c1.03,1.12,1.64,2.56,1.64,4.33c0,6.2-3.74,7.56-7.32,7.96c0.58,0.51,1.09,1.47,1.09,2.99c0,2.16-0.03,3.9-0.03,4.43 c0,0.43,0.29,0.94,1.09,0.77C27.41,29.57,32,23.53,32,16.4C32.03,7.48,24.84,0.27,16.01,0.27z")
