svg.icon.icon--jack-rugile(
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 320 320"
)
  polygon(points="20,320 0,160 60,0 140,0")
  polygon(points="220,0 180,0 60,320 100,320 140,320 260,0")
  polygon(points="300,0 320,160 260,320 180,320")
