svg.footer-link-icon.footer-link-icon--x(
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
  focusable="false"
)
  path(d="M18.98,13.55L30.64,0h-2.76L17.75,11.77L9.67,0H0.34l12.22,17.79L0.34,32h2.76l10.69-12.42L22.33,32h9.32L18.98,13.55 L18.98,13.55z M15.2,17.95l-1.24-1.77L4.1,2.08h4.24l7.95,11.38l1.24,1.77l10.34,14.79h-4.24L15.2,17.95L15.2,17.95z")
