.footer {
  align-items: center;
  background-color: $color-main-bg;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding: 5rem 2rem 5rem;
  position: relative;
  @media (min-width: 60em) {
    padding: 6rem 8rem 9rem;
  }
}

.footer .angle {
  height: 4vw;
  left: 0;
  min-height: 30px;
  max-height: 60px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.footer .angle--bot {
  bottom: -0.5px;
  fill: var(--color-accent);
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
}

.footer-profile {
  display: block;
  flex-basis: 100%;
  margin-bottom: 3rem;
  justify-content: center;
  @media (min-width: 30em) {
    display: flex;
  }
}

.footer-profile-picture {
  background-color: $color-footer-profile-wrap-bg;
  display: block;
  margin: 0 0 2rem;
  overflow: hidden;
  padding: 4px;
  position: relative;
  @media (min-width: 30em) {
    flex: 0 0 7rem;
    margin: 0 2rem auto 0;
  }
}

.footer-profile-image {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.footer-profile-content {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 50rem;
}

.footer-profile-content a {
  color: var(--color-text-strong);
  font-weight: 700;
  position: relative;
  white-space: nowrap;
  @mixin hover {
    color: var(--color-accent);
  }
  &:focus-visible {
    color: var(--color-accent);
  }
  @media (hover: hover) {
    &:hover {
      @include hover;
    }
  }
}

.footer-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  margin-bottom: 3rem;
  @media (min-width: 40em) {
    gap: 2rem;
  }
}

.footer-link {
  align-items: center;
  background-color: $color-footer-link-bg;
  display: flex;
  padding: 0.75rem;
  position: relative;
  text-decoration: none;
  width: 100%;
  @mixin hover {
    background-color: $color-footer-link-hover-bg;
    position: relative;
    z-index: 1;
  }
  &:focus-visible {
    @include hover;
  }
  @media (hover: hover) {
    &:hover {
      @include hover;
    }
  }
  @media (min-width: 40em) {
    background-color: transparent;
    padding: 0.25rem;
    width: auto;
    &:hover,
    &:focus-visible {
      background-color: transparent;
    }
  }
}

.footer-link-icon {
  fill: var(--color-text-strong);
  flex-shrink: 0;
  margin: 0 0.5rem 0 0;
  width: 1.5rem;
  @mixin hover {
    fill: var(--color-accent);
  }
  .footer-link:focus-visible & {
    @include hover;
  }
  @media (hover: hover) {
    .footer-link:hover & {
      @include hover;
    }
  }
  @media (min-width: 40em) {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    width: 1.75rem;
  }
}

.footer-link-text {
  color: var(--color-text-strong);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  @mixin hover {
    color: var(--color-accent);
  }
  .footer-link:focus-visible & {
    @include hover;
  }
  @media (hover: hover) {
    .footer-link:hover & {
      @include hover;
    }
  }
}

.footer-meta {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  gap: 1.25rem;
  line-height: 1;
  text-align: center;
  @media (min-width: 40em) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }

  p {
    margin-bottom: 0;
  }
}

.footer-meta > * + *::before {
  @media (min-width: 40em) {
    content: "//";
    display: inline-block;
    margin: 0 0.75rem;
    white-space: nowrap;
  }
}

.footer-meta-copyright {
  margin: 0;
}

.footer-meta-resume {
  margin: 0;
}

.footer-meta-resume-link {
  color: var(--color-text-strong);
  display: inline-block;
  font-weight: 700;
  position: relative;
  white-space: nowrap;
  @mixin hover {
    color: var(--color-accent);
  }
  &:focus-visible {
    @include hover;
  }
  @media (hover: hover) {
    &:hover {
      @include hover;
    }
  }
}

.footer-meta-code {
  margin: 0;
}

.footer-meta-theme {
  margin: 0;
  @media (min-width: 40em) {
    vertical-align: middle;
  }
}

.footer-meta-code-link {
  background-color: var(--color-badge-bg);
  color: var(--color-badge-fg);
  display: inline-block;
  font-family: $font-monospace;
  margin: 0 0.1rem;
  padding: 0.25rem 0.35rem;
  position: relative;
  text-decoration: none;
  @mixin hover {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
  }
  &:focus-visible {
    @include hover;
  }
  @media (hover: hover) {
    &:hover {
      @include hover;
    }
  }
}

.footer-meta-code-link span {
  background: currentColor;
  animation: caret-fade 1000ms infinite;
  display: inline-block;
  margin-left: 2px;
  width: 2px;
  @media (prefers-reduced-motion) {
    display: none;
  }
}
