.footer {
  align-items: center;
  background-color: var(--color-flame);
  display: flex;
  min-height: 40vh;
  padding: 3rem;
  position: relative;
}

@media (min-width: 60em) {
  .footer {
    padding: 5vw 10vw;
  }
}

.footer-inner {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 60rem;
}

.footer-image {
  background-color: var(--color-lumos);
  border: 0.25rem solid var(--color-lumos);
  flex: 0 0 6.25rem;
  margin-bottom: auto;
  position: relative;
  width: 6.25rem;
}

.footer-image:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.footer-image img {
  left: 0;
  position: absolute;
  top: 0;
  transition: 800ms opacity;
  width: 100%;
}

.footer-image img.lazyload {
  opacity: 0;
}

.footer-image img.lazyloaded {
  opacity: 1;
}

.footer-description {
  color: var(--color-lumos);
  font-size: 1.25rem;
  margin-bottom: 0;
}

.footer-links {

}

.footer-link {
  color: var(--color-lumos);
  font-weight: 400;
  text-decoration: none;
}

.footer-meta {
  color: var(--color-lumos);
  flex-basis: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

.footer-meta a {
  background: var(--color-lumos);
  border-radius: 0.25rem;
  color: var(--color-flame);
  display: inline-block;
  font-family: var(--font-monospace);
  margin: 0 0.1rem;
  padding: 0.25rem 0.35rem;
  text-decoration: none;
}

.footer-meta a:hover {
  background: var(--color-nocturne);
  color: var(--color-lumos);
}

.footer-meta .svg-icon--jack-rugile {
  width: 32px;
}
