* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  min-height: 100vh;
  transition: background-color 400ms;
  &.dark-theme,
  .dark-theme & {
    background-color: #000;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

html.mac-os,
html.mac-os body {
  background-color: #fff;
  .dark-theme & {
    background-color: #000;
  }
}

html {
  font-size: 16px;
}

@media (min-width: 100em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 130em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #555;
  font-family: $font-sans-serif;
  font-weight: 400;
  line-height: 1.75;
  transition: color 400ms;
  .dark-theme & {
    color: #aaa;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(#fff, 1);
  }
  100% {
    background-color: rgba(#fff, 0.5);
  }
}

.focus-indicator {
  animation: pulse 500ms infinite alternate;
  background-color: #fff;
  height: 1px;
  left: 0;
  mix-blend-mode: difference;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  transition: opacity 200ms, transform 200ms $easeOutExpo;
  width: 1px;
  z-index: 100;
  @media (prefers-reduced-motion) {
    transition: none;
  }
}
