.header {
  align-items: center;
  background-color: var(--color-lumos);
  display: flex;
  height: 60vh;
  min-height: 20rem;
  justify-content: center;
  position: relative;
}

.header-angle {
  height: 4vw;
  left: 0;
  min-height: 30px;
  max-height: 60px;
  position: absolute;
  width: 100%;
}

.header-angle--top {
  fill: var(--color-flame);
  top: -1px;
}

.header-angle--bot {
  bottom: -1px;
  fill: var(--color-nocturne);
}

.header-title {
  align-items: center;
  display: flex;
  will-change: opacity, transform;
}

.header-title-icon {
  display: block;
  fill: var(--color-flame);
  margin-right: 1.5rem;
  width: 4rem;
}

.header-title-text {
  white-space: nowrap;
}

.header-title-text-top {
  color: var(--color-nocturne);
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 1rem;
}

.header-title-text-bot {
  color: var(--color-nocturne);
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}
