.header {
  /*align-items: center;*/
  background-color: var(--color-lumos);
  /*display: flex;
  height: 60vh;
  min-height: 20rem;
  justify-content: center;
  position: relative;*/
  position: relative;
  overflow: hidden;
}

/*.header-canvas-wrap {
  position: absolute;
  top: -50%;
  left: -50%;
  pointer-events: none;
  width: 200%;
  height: 200%;
  z-index: 0;
}

.header-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
  image-rendering: pixelated;
}*/

.header-above {
  align-items: center;
  display: flex;
  height: 60vh;
  min-height: 25rem;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.header .angle {
  height: 4vw;
  left: 0;
  min-height: 30px;
  max-height: 60px;
  position: absolute;
  width: 100%;
  will-change: transform;
}

.header .angle--top {
  fill: var(--color-flame);
  top: 0;
}

.header .angle--bot {
  bottom: 0;
  fill: var(--color-nocturne);
}

.header-title {
  align-items: center;
  display: flex;
  will-change: opacity, transform;
}

.header-title .icon {
  display: block;
  fill: var(--color-flame);
  margin-right: 2rem;
  width: 4rem;
}

.header-title-text {
  white-space: nowrap;
}

.header-title-text-top {
  color: var(--color-nocturne);
  font-family: var(--font-serif);
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.header-title-text-bot {
  color: var(--color-nocturne);
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
}
