.header {
  align-items: center;
  background-color: $color-lumos;
  display: flex;
  height: 60vh;
  min-height: 20rem;
  justify-content: center;
  position: relative;
}

.header .angle {
  height: 4vw;
  left: 0;
  min-height: 30px;
  max-height: 60px;
  position: absolute;
  width: 100%;
}

.header .angle--top {
  fill: $color-flame;
  top: -0.5px;
}

.header .angle--bot {
  bottom: -0.5px;
  fill: $color-nocturne;
}

.header-title {
  align-items: center;
  display: flex;
}

.header-title .icon {
  display: block;
  fill: $color-flame;
  margin-right: 2rem;
  width: 4rem;
}

.header-title-text {
  white-space: nowrap;
}

.header-title-text-top {
  color: $color-nocturne;
  font-family: $font-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.header-title-text-bot {
  color: $color-nocturne;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
}
