@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './general.css';
@import './header.css';
@import './main.css';
@import './call-to-action.css';
@import './footer.css';

.section {
  margin: 0 auto 8rem;
  max-width: 60rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section ::selection {
  background: var(--color-flame);
  color: var(--color-lumos);
}

.section ::-moz-selection {
  background: var(--color-flame);
  color: var(--color-lumos);
}

.section p {
  font-size: 1.25rem;
}

.section p a {
  color: var(--color-flame);
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.section p a:before {
  bottom: -5px;
  content: '';
  left: -10px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: -10px;
  top: -5px;
  outline: 5px solid hsl(195, 100%, 50%);
}

.section p a:focus {
  color: var(--color-water);
  outline: none;
}

.section p a:focus:before {
  opacity: 1;
}

.section p a:hover {
  color: var(--color-water);
}

.section p a:active {
  color: var(--color-water);
  transform: translateY(1px);
}

.section h2 {
  color: var(--color-lumos);
  font-family: var(--font-serif);
  font-size: 2.75rem;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 2rem;
  position: relative;
}

.section h2:after {
  color: var(--color-flame);
  content: '//';
  display: none;
  font-family: var(--font-sans-serif);
  font-weight: 900;
  letter-spacing: 0.04em;
  margin-right: 1rem;
  position: absolute;
  right: 100%;
  top: -0.09rem;
}

@media (min-width: 60em) {
  .section h2:after {
    display: block;
  }
}

.grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.cell {
  background-color: var(--color-dim);
  display: flex;
  flex-direction: column;
}

.cell-image {
  background: linear-gradient(60deg, var(--color-water), var(--color-flame));
  display: block;
  /*overflow: hidden;*/
  position: relative;
  /*transition: transform 200ms;*/
}

/*.cell-image:before {
  background-color: var(--color-lumos);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.cell-image:hover:before {
  animation: flash 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes flash {
  0% {
    opacity: 0.75;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}*/

.cell-image img {
  left: 0;
  mix-blend-mode: luminosity;
  position: absolute;
  top: 0;
  transition: 800ms opacity, transform 200ms;
  width: 100%;
}

.cell-image:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.cell-image img.lazyload {
  opacity: 0;
}

.cell-image img.lazyloaded {
  opacity: 1;
}

.cell-image:hover {
  /*transform: scale(1.1);*/
}

.cell-image:hover img.lazyloaded {
  /*transform: scale(0.9);*/
}

.cell-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 1rem 0;
}

.cell-title {
  color: var(--color-lumos);
  font-size: 1.25rem;
  font-weight: 400;
}

.cell-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cell-links {
  margin-top: auto;
}

.cell-link {
  border-top: 1px solid var(--color-nocturne);
  box-shadow: inset 0 0 0 1px var(--color-dim);
  color: var(--color-cloud);
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 -1rem 0;
  padding: 1rem;
  text-decoration: none;
}

.cell-link:hover {
  background-color: var(--color-flame);
  color: var(--color-lumos);
}

/*.canvas-overlay {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
*/
