@import './reset.css';
@import './variables.css';
@import './animations.css';
@import './typography.css';
@import './general.css';
@import './header.css';
@import './main.css';
@import './project-grid.css';
@import './call-to-action.css';
@import './footer.css';
@import './page-not-found.css';

.section {
  margin: 0 auto 9rem;
  max-width: 80rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section > p {
  font-size: 1.5rem;
  max-width: 60rem;
}

.section > h2 {
  color: var(--color-lumos);
  font-family: var(--font-serif);
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 3rem;
  max-width: 60rem;
  position: relative;
}

.section > h2:after {
  color: var(--color-flame);
  content: '//';
  display: none;
  font-family: var(--font-sans-serif);
  font-weight: 900;
  letter-spacing: 0.04em;
  margin-right: 1rem;
  position: absolute;
  right: 100%;
  top: -0.09rem;
}

@media (min-width: 60em) {
  .section > h2:after {
    display: block;
  }
}
