@import './reset';
@import './variables';
@import './animations';
@import './typography';
@import './general';
@import './header';
@import './main';
@import './project-grid';
@import './call-to-action';
@import './footer';
@import './page-not-found';

.section {
  margin: 0 auto 9rem;
  max-width: 80rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section > p {
  font-size: 1.5rem;
  max-width: 60rem;
}

.section > h2 {
  color: $color-lumos;
  font-family: $font-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 3rem;
  max-width: 60rem;
  position: relative;
}

.section > h2:after {
  color: $color-flame;
  content: '//';
  display: none;
  font-family: $font-sans-serif;
  font-weight: 900;
  letter-spacing: 0.04em;
  margin-right: 1rem;
  position: absolute;
  right: 100%;
  top: -0.09rem;
}

@media (min-width: 60em) {
  .section > h2:after {
    display: block;
  }
}
