.main {
  background-color: $color-dark1;
  padding: 5rem 2rem;
  // padding: 5rem 0;
  position: relative;
  z-index: 10;
}

@media (min-width: 60em) {
  .main {
    padding: 8rem;
    // padding: 8rem 0;
  }
}
