.main {
  background-color: #eee;
  overflow: hidden;
  padding: 5rem 2rem;
  position: relative;
  transition: background-color 400ms;
  z-index: 10;
  .dark-theme & {
    background-color: #000;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@media (min-width: 60em) {
  .main {
    padding: 7.5vw 10vw;
  }
}
