.page-not-found {
  align-items: center;
  background-color: var(--color-lumos);
  display: flex;
  height: 100%;
  /*min-height: 20rem;*/
  overflow: hidden;
  justify-content: center;
  position: relative;
  text-align: center;
}

.page-not-found .angle {
  height: 4vw;
  left: 0;
  min-height: 30px;
  max-height: 60px;
  position: absolute;
  width: 100%;
}

.page-not-found .angle--top {
  fill: var(--color-flame);
  top: -0.5px;
}

.page-not-found .angle--bot {
  bottom: -0.5px;
  fill: var(--color-nocturne);
}

.page-not-found-title {
  align-items: center;
  display: flex;
}

.page-not-found-title-text {
  color: var(--color-nocturne);
  font-family: var(--font-serif);
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
  white-space: nowrap;
}
