.project-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 1fr);
}

@media (min-width: 40em) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 80em) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 120em) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cell {
  display: flex;
  flex-direction: column;
}

.cell-image {
  background-color: $color-dark2;
  margin-bottom: 4px;
  aspect-ratio: 16 / 9;
}

.cell-image img {
  border: 4px solid $color-dark2;
  display: block;
  width: 100%;
}

.cell-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cell-content {
  background-color: $color-dark2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.cell-title {
  color: #fff;
  font-family: $font-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.5;
}

.cell-subtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  position: relative;
}

.cell-subtitle:after {
  background-color: $color-dark3;
  content: "";
  display: block;
  height: 2px;
  margin-top: 1.25rem;
  width: 25%;
}

.cell-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cell-location {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.cell-location a {
  color: inherit;
  position: relative;
  transition: color $duration-transition;
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-location a:hover {
  color: $color-flame;
  transition-duration: 0ms;
}

.cell-location a:focus-visible {
  color: $color-difference;
}

.cell-links {
  margin-top: auto;
}

.cell-link {
  background-color: $color-dark2;
  box-shadow: inset 4px 0 0 $color-dark3;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 4px;
  padding: 1rem;
  text-decoration: none;
  transition: background-color $duration-transition,
    border-color $duration-transition, box-shadow $duration-transition,
    color $duration-transition;
  &:hover {
    background-color: $color-dark3;
    box-shadow: inset 4px 0 0 $color-flame;
    color: #fff;
    transition-duration: 0ms;
  }
  &:focus-visible {
    background-color: $color-dark1;
    box-shadow: inset 4px 0 0 $color-difference;
    color: $color-difference;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}
