.project-grid {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

@media (min-width: 60rem) {
  .project-grid {
    grid-gap: 3rem;
  }
}

@media (min-width: 70rem) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cell {
  display: flex;
  flex-direction: column;
}

.cell-image {
  background-color: #fff;
  margin-bottom: 4px;
  aspect-ratio: 16 / 9;
  .dark-theme & {
    background-color: #111;
  }
}

.cell-image img {
  display: block;
  width: 100%;
}

.cell-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 1rem 0;
  transition: background-color 400ms;
  .dark-theme & {
    background-color: #111;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-title {
  color: #000;
  font-family: $font-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.5;
  transition: color 400ms;
  .dark-theme & {
    color: #fff;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-subtitle {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  position: relative;
  transition: color 400ms;
  .dark-theme & {
    color: #fff;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-subtitle:after {
  background-color: #eee;
  content: '';
  display: block;
  height: 2px;
  margin-top: 1.25rem;
  width: 25%;
  transition: background-color 400ms;
  .dark-theme & {
    background-color: #333;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cell-location {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.cell-location a {
  color: inherit;
  outline: 4px solid transparent;
  outline-offset: 4px;
  position: relative;
  transition: color 400ms, outline 400ms;
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-location a:hover {
  color: $color-flame;
  transition-duration: 0ms;
}

.cell-location a:focus {
  outline: 4px solid $color-water;
  transition-duration: 0ms;
  z-index: 1;
}

.cell-links {
  margin-top: auto;
}

.cell-link {
  border-top: 4px solid #eee;
  box-shadow: inset 4px 0 0 #ccc;
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 -1rem 0;
  outline: 4px solid transparent;
  outline-offset: 4px;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms, box-shadow 400ms, color 400ms,
    outline 400ms;
  .dark-theme & {
    border-top: 4px solid #000;
    box-shadow: inset 4px 0 0 #333;
    color: #fff;
  }
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.cell-link:hover {
  box-shadow: inset 4px 0 0 $color-flame;
  color: $color-flame;
  transition-duration: 0ms;
  .dark-theme & {
    box-shadow: inset 4px 0 0 $color-flame;
    color: $color-flame;
  }
}

.cell-link:focus {
  outline: 4px solid $color-water;
  transition-duration: 0ms;
}
