::selection {
  background-color: var(--color-accent);
  color: var(--color-bg-1);
}

p {
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

sup {
  font-size: 0.8em;
  vertical-align: top;
}
