::selection {
  background-color: $color-flame;
  color: #000;
  .dark-theme & {
    background-color: $color-flame;
    color: #fff;
  }
}

::-moz-selection {
  background-color: $color-flame;
  color: #000;
  .dark-theme & {
    background-color: $color-flame;
    color: #fff;
  }
}

p {
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

sup {
  font-size: 0.8em;
  vertical-align: top;
}
