::selection {
  background: var(--color-water);
  color: var(--color-lumos);
}

::-moz-selection {
  background: var(--color-water);
  color: var(--color-lumos);
}

p {
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}
