$color-flame: hsl(345, 100%, 50%);
$color-water: hsl(195, 100%, 50%);

$font-serif: 'Merriweather', georgia, serif;
$font-sans-serif: 'Lato', helvetica, arial, sans-serif;
$font-monospace: courier, monospace;
