svg(
  class="svg-icon svg-icon--twitter"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
)
  path(d="M10.81,27.38c10.57,0,16.34-8.75,16.34-16.34c0-0.25-0.01-0.5-0.02-0.74c1.12-0.81,2.1-1.82,2.87-2.97 c-1.03,0.46-2.14,0.77-3.3,0.9c1.19-0.71,2.1-1.84,2.53-3.18c-1.11,0.66-2.34,1.14-3.65,1.39c-1.05-1.12-2.54-1.81-4.19-1.81 c-3.17,0-5.75,2.57-5.75,5.74c0,0.45,0.05,0.89,0.15,1.31c-4.77-0.24-9.01-2.53-11.84-6C3.45,6.52,3.17,7.51,3.17,8.56 c0,1.99,1.01,3.75,2.56,4.78c-0.94-0.03-1.83-0.29-2.6-0.72c0,0.02,0,0.05,0,0.07c0,2.78,1.98,5.11,4.61,5.63 c-0.48,0.13-0.99,0.2-1.51,0.2c-0.37,0-0.73-0.04-1.08-0.1c0.73,2.28,2.85,3.94,5.37,3.99c-1.97,1.54-4.44,2.46-7.13,2.46 c-0.46,0-0.92-0.03-1.37-0.08C4.54,26.43,7.56,27.38,10.81,27.38")
