- 
  const pageTitle = `Not Found | ${data.name}`
  const pageURL = `${data.baseUrl}/404`

doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/header.pug
    p Not Found
    include ./includes/foot.pug
