- 
  const pageTitle = `Not Found | ${data.name}`
  const pageURL = `${data.baseUrl}/404`

doctype html
html.html(lang="en")
  include ./includes/head.pug
  body.body
    p Not Found
    script(src="./scripts/index.js")
