- 
  const pageTitle = `Not Found | ${data.name}`
  const pageURL = `${data.baseUrl}/404`

doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/header.pug
    p Not Found
    script(src="./scripts/index.js")
    script(
      async="true"
      src="https://www.googletagmanager.com/gtag/js?id=UA-5693606-7"
    )
    script
      include ./scripts/analytics.js
